In [2]:
import pandas as pd
import pyodbc 
import numpy as np

In [3]:
#initial cleaning function
def clean_sheet(dataframe):
    adj=dataframe.dropna(axis=1,how='all')
    adj=dataframe.set_index(adj.columns[0]) #use stock tickers as the index
    return adj


cc=clean_sheet(pd.read_excel(r'C:\Users\Eric.Li\Documents\Post result data\{0} 2007-2017.xlsx'.format('Asia'),sheet_name='Index'))

In [4]:
def fundamental_df_clean(region,tabs,volume_low,size_low):
    data_dict={}

    for s in tabs:
        df=clean_sheet(pd.read_excel(r'C:\Users\Eric.Li\Documents\Post result data\{0} 2007-2017.xlsx'.\
                                     format(region),sheet_name=s))
        data_dict[s]=df

    # select the right universe for US
    universe_evaluate=(data_dict["Market cap"]>size_low)&(data_dict["Volume"]>volume_low)
    data_dict["Revision"]=data_dict["Revision"][universe_evaluate]
    data_dict["Market cap"]=data_dict["Market cap"][data_dict["Market cap"]>size_low]    
    
    
    fundamental_df=data_dict["Date"].unstack(-1).to_frame()
    fundamental_df.index=fundamental_df.apply(lambda x: x.name[1],axis=1)
    fundamental_df.columns=["Date"]
    
    for i in tabs:
        try:
            fundamental_df[i]=data_dict[i].unstack(-1).values
        except ValueError:
            pass
        
    fundamental_df=fundamental_df.dropna(how="all",axis=0)
    fundamental_df=fundamental_df[-np.isnan(fundamental_df["Revision"])]
    fundamental_df=fundamental_df[-np.isnat(fundamental_df.Date)]
    if 'Property' in data_dict.keys():
        fundamental_df["Supersector"]=fundamental_df.apply(lambda x:data_dict["Property"].loc[x.name,"Supersector"]\
                                               if type(x.name)==str else None,axis=1)
    if 'Index' in data_dict.keys():
        fundamental_df["Index"]=fundamental_df.apply(lambda x: data_dict["Index"].loc[x.name].iloc[0] if type(x.name)==str\
                                                     else None,axis=1)
    
    fundamental_df=fundamental_df[fundamental_df.apply(lambda x: type(x.name)==str,axis=1)]
        
    return fundamental_df

In [25]:
US=fundamental_df_clean('US',['Date','Revision','Market cap','Volume','Revision vol','Property'],3,500)

In [5]:
whole_US=fundamental_df_clean('US',['Date','Revision','Market cap','Volume','Revision vol','Property'],0,0)

In [7]:
whole_US.to_csv("whole_US.csv")

In [27]:
Europe=fundamental_df_clean('Europe',['Date','Revision','Market cap','Volume','Revision vol','Property'],3,500)

In [45]:
Asia=fundamental_df_clean('Asia',['Date','Revision','Market cap','Volume'],3,500)

In [46]:
Asia

                Date  Revision  Market cap      Volume
000060 KS 2017-11-15  0.015214   2473.8353    4.676833
000080 KS 2017-11-14 -0.010933   1588.1563    4.943811
000100 KS 2017-10-31 -0.133019   2128.2039    9.686328
000120 KS 2017-11-08 -0.142718   3205.3041    5.439640
000150 KS 2017-11-06  0.257641   2460.2929    5.087403
000210 KS 2017-11-03  0.172044   2718.1398    9.627850
000270 KS 2017-10-27 -0.017287  12373.4431   34.798261
000660 KS 2017-10-26  0.049266  50889.3602  377.239534
000720 KS 2017-10-27 -0.104364   3922.7520   14.856339
000810 KS 2017-10-31  0.083693  11565.7913   16.752293
000830 KS 2015-07-24 -0.042509   7951.6907  133.672904
000880 KS 2017-11-15  0.003629   2766.2903   10.135676
000990 KS 2017-11-14  0.071195    567.0074    5.896212
001040 KS 2017-11-15  0.032652   5207.1410   15.374252
001120 KS 2017-10-26  0.003122    961.3266    4.231073
001230 KS 2017-11-10 -0.277875    924.0261    4.320034
001300 KS 2014-04-28 -0.155387   3300.9450   25.966704
001450 KS 2017-10-31  0.009875   3625.5992    7.293598
001680 KS 2017-11-15 -0.051704    751.9683    3.495246
001740 KS 2017-11-01 -0.103922   1468.8037    7.974931
001800 KS 2017-11-15  0.000000    549.2268    5.820350
002020 KS 2017-11-14 -0.407284    732.2920   14.199145
002380 KS 2017-11-06  0.005383   3844.0472    5.935457
002790 KS 2017-10-30  0.009762  11251.0606   16.057125
003490 KS 2017-11-14  0.043362   2611.3002   14.808635
003550 KS 2017-11-15  0.077243  13030.1874   21.361118
003670 KS 2017-10-26  0.048155   1495.3102   37.930054
004020 KS 2017-10-30  0.013598   6796.7985   16.534572
004170 KS 2017-11-07  0.098353   2013.8092   13.298382
004370 KS 2017-11-15 -0.006612   1849.2585    4.188223
...              ...       ...         ...         ...
2382 TT   2007-04-26 -0.052404   5090.7225    6.586913
2393 TT   2007-04-24  0.017996   1152.9742   12.045114
2408 TT   2007-04-24 -0.072069   3420.3040   15.948996
2618 TT   2007-04-04 -0.240331   1605.5410    3.721233
2801 TT   2007-03-30  0.022205   2901.8306    7.807457
2883 TT   2007-04-30  0.004525   4444.4835    5.549569
3037 TT   2007-04-25 -0.019079   1455.2790   19.680375
3045 TT   2007-04-23 -0.641470   5483.6654    4.011886
3260 TT   2007-04-26 -0.051839    545.3746   10.831797
3401 JP   2007-01-31 -0.103724   5266.8351   25.061712
3443 TT   2007-03-15  0.204842    932.7090    7.395602
6176 TT   2007-04-26  0.030762    611.9222    3.979289
6182 TT   2007-04-23 -0.011587    656.2126   31.690490
6504 JP   2007-01-26 -0.044457   3753.9286   12.285776
6702 JP   2007-01-31 -0.020548  15493.8927   77.427112
8015 JP   2007-02-01 -0.069451   9682.4928   25.945432
8046 TT   2007-04-24 -0.118623   3662.1702   12.482979
2311 TT   2007-08-03 -0.020347   6190.6739   24.305587
2325 TT   2007-04-20  0.010568   5182.8543   11.629444
2353 TT   2007-04-25  0.350640   4566.4726   10.275719
2379 TT   2007-04-27 -0.083115   1683.0819   19.369610
2409 TT   2007-02-08 -0.114215  10782.7742   33.399089
2882 TT   2007-02-27 -0.044194  19678.3243   23.229272
4901 JP   2007-01-31  0.059115  20265.1839   71.145311
6116 TT   2007-04-30 -2.206897   1150.4709    9.392790
8604 JP   2007-01-29  0.057849  38234.2894  131.336350
2303 TT   2007-04-30 -0.057315  10962.5307   11.435257
2454 TT   2007-04-26  0.135812  11807.6191   28.943617
3034 TT   2007-03-27 -0.009008   2256.7500   12.672926
2311 TT   2007-02-06 -0.027501   5253.7565   14.765664

[38869 rows x 4 columns]

In [29]:
Europe.to_csv('Europe.csv')

In [47]:
Asia.to_csv('Asia.csv')