In [1]:
import pandas as pd
import pyodbc

In [4]:
'''Connect to post result database'''
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=dsa-ln-WS015\SQLEXPRESS;DATABASE=Post_result;Trusted_Connection=yes')   
cursor = cnxn.cursor() 
alist=['AA US','A US']
sql="select * from US_price_2006 A\
    full join US_price_2007 B on B.Ticker=A.Ticker\
    full join US_price_2008 C on C.Ticker=B.Ticker\
    where A.Ticker in %s" % str(tuple(alist))
data=pd.read_sql(sql,cnxn)

In [5]:
data

,Ticker,1 2 2006,1 3 2006,1 4 2006,1 5 2006,1 6 2006,1 9 2006,1 10 2006,1 11 2006,1 12 2006,...,12 18 2008,12 19 2008,12 22 2008,12 23 2008,12 24 2008,12 25 2008,12 26 2008,12 29 2008,12 30 2008,12 31 2008
0,A US,22.43,22.57,22.63,23.22,23.35,23.28,23.58,23.58,23.06,...,11.64,11.64,11.31,11.17,11.14,11.14,11.05,10.72,10.64,11.18
1,AA US,66.22,66.96,67.34,67.88,67.66,68.46,66.29,65.40,64.52,...,21.88,21.72,20.67,21.43,21.03,21.03,21.90,21.79,23.94,25.22