## Use SX5E and bloomberg download data to get me started

In [1]:
import pandas as pd
import numpy as np

In [ ]:
def clean_sheet(dataframe):
    adj=dataframe.dropna(axis=1,how='all')
    adj=dataframe.set_index(adj.columns[0])
    return adj

In [43]:
tabs_to_grab=['Quarter','Date','Reported EPS','Comp EPS','Consensus EPS','50d MA','3d return','Volume','Momentum',
             'Revision','Market cap','PE','property','Price']

data_dict={}

for s in tabs_to_grab:
    data_dict[s]=clean_sheet(pd.read_excel(r'C:\Users\Eric.Li\Documents\Post result code\Catalyst.xlsx',sheetname=s))

C:\Users\Eric.Li\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\util\_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [51]:
signal=data_dict['Date'][(data_dict['3d return']>2) & (data_dict['Revision']>0.02)]
signal=signal.dropna(axis=1,how='all')
signal=signal.dropna(axis=0,how='all')
signal

,2018-03-07 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
Unnamed: 0,,,,,,,,,
AD NA,2018-02-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
ADS GY,NaT,NaT,NaT,2017-03-08,NaT,NaT,NaT,NaT,NaT
AIR FP,2018-02-15,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
ALV GY,NaT,NaT,NaT,NaT,2017-02-16,NaT,NaT,NaT,NaT
ASML NA,2018-01-17,NaT,2017-07-19,NaT,NaT,2016-10-19,NaT,NaT,NaT
BAS GY,NaT,2017-10-24,NaT,NaT,NaT,NaT,NaT,NaT,NaT
BMW GY,NaT,2017-08-03,2017-05-04,NaT,NaT,NaT,NaT,NaT,NaT
CRH ID,NaT,NaT,NaT,2016-08-25,NaT,NaT,NaT,NaT,NaT
DG FP,NaT,NaT,2017-02-07,NaT,NaT,NaT,NaT,NaT,NaT
DPW GY,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2016-05-11,NaT
DTE GY,NaT,NaT,2017-08-03,NaT,NaT,NaT,NaT,NaT,NaT
ENGI FP,NaT,NaT,NaT,2017-03-02,NaT,NaT,NaT,NaT,NaT
ENI IM,NaT,NaT,2017-07-28,NaT,NaT,NaT,NaT,NaT,NaT
FP FP,NaT,2017-10-27,NaT,NaT,NaT,NaT,NaT,NaT,2016-02-11
GLE FP,NaT,NaT,NaT,NaT,NaT,2016-11-03,2016-08-03,NaT,NaT
IBE SQ,NaT,NaT,NaT,NaT,2017-02-22,NaT,NaT,NaT,NaT
INGA NA,NaT,NaT,NaT,NaT,NaT,2016-11-03,2016-08-03,NaT,NaT
MC FP,2018-01-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
MUV2 GY,NaT,NaT,NaT,NaT,NaT,NaT,2016-08-09,NaT,NaT
NOKIA FH,NaT,NaT,NaT,NaT,2017-02-02,NaT,NaT,NaT,NaT
PHIA NA,NaT,NaT,NaT,NaT,NaT,2016-10-24,NaT,NaT,NaT
SAN FP,NaT,NaT,NaT,NaT,NaT,2016-10-28,NaT,NaT,NaT
SAN SQ,NaT,NaT,NaT,NaT,2017-01-25,NaT,NaT,NaT,NaT
SIE GY,NaT,NaT,NaT,NaT,NaT,NaT,2016-08-04,2016-05-04,2016-01-25
TEF SQ,NaT,NaT,NaT,NaT,2017-02-23,NaT,NaT,NaT,NaT
VIV FP,NaT,NaT,2017-08-31,NaT,NaT,2016-11-09,NaT,NaT,NaT

In [18]:
Vol.describe()

,2018-03-07 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
count,50.000000,50.000000,50.000000,50.000000,50.000000,38.000000,38.000000,37.000000,31.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,0.012276,0.010460,0.010346,0.013251,0.013729,0.012084,0.013687,0.016875,0.024291,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.004164,0.003823,0.003428,0.006456,0.007255,0.004476,0.005716,0.006673,0.008263,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.004071,0.005129,0.004108,0.004960,0.004069,0.004390,0.005230,0.007297,0.013489,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.008921,0.008451,0.008327,0.008114,0.008482,0.008827,0.008418,0.011830,0.018149,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.012078,0.010035,0.009449,0.011381,0.011832,0.011624,0.012482,0.014934,0.021831,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,0.014885,0.012029,0.012164,0.016681,0.019759,0.014974,0.018370,0.020337,0.029460,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,0.024713,0.026519,0.020487,0.030067,0.039950,0.024750,0.026310,0.034468,0.044124,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN